# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift PM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Playgrounds
timeline.xctimeline
playground.xcworkspace
